@font-face {
  font-family: 'Gang of Three'; 
  src: url('../fonts/go3v2.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* --- Fondo y Contenedor Principal --- */
body {
    background: linear-gradient(
        to left,
        #ff0000 35%,
        #000000 120%
    );
    overflow-x: hidden;
    position: relative;
}

.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}

/* --- Tarjeta de Login --- */
.login-card {
    background-color: rgba(238, 237, 237, 0.916);
    backdrop-filter: blur(1px);
    padding: 50px 50px;
    border-radius: 28px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 3;
}

/* --- Elementos Decorativos --- */
.blob_1, .blob_2, .iPaul {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.blob_1 {
    width: 12vw;
    max-width: 240px;
    left: -30%;
    top: 30%;
    rotate: -3deg;
}

.blob_2 {
    width: 23vw;
    max-width: 450px;
    right: 5%;
    top: -30%;
}

.iPaul {
    width: 6vw;
    max-width: 200px;
    left: 46%;
    top: -6%;
}

.blob_1 img{
    width: 450%;
    height: 450%;
    object-fit: contain;
}

.blob_2 img{
    width: 250%;
    height: 250%;
    object-fit: contain;
}

.iPaul img {
    width: 135%;
    height: 135%;
    object-fit: contain;
}

/*Tarjeta */
.logo-placeholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #c90606;
    margin: -30px auto 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo-placeholder img {
    width: 130%;
    height: 132%;
    margin: -10%;
    object-fit: cover;
}

.company-name {
    font-family: "Gang of Three", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: -25px auto 1px;
    font-size: 3.5rem;
    color: #4c4b4b;
}

.company-subtitle {
    font-size: 0.9rem;
    font-weight: 100;
    color: #555;
    letter-spacing: 0.5em;
    margin-top: -15px;
    margin-bottom: 35px;
}

.input-group {
    text-align: left;
    width: 100%;
    position: relative;
}

.input-group label {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #464646;
}


.input-group input {
    width: 100%;
    padding: 10px 13px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff; 
    border-color: #ff000056;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: #000000; 
    cursor: text;
}

.input-group input:focus {
    outline: none;
    border-color: #A60303;
    box-shadow: 0 0 0 3px rgba(166, 3, 3, 0.2);
    background-color: #ffffff; /* Mantener blanco al enfocar */
}

/* Contenedor de contraseña */
.input-group > div {
    position: relative;
}

/* Botón Inicio de Sesión */
.login-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #333;
    transform: translateY(-2px);
}


#togglePassword {
    position: absolute;
    right: 15px; 
    top: 55px; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    font-size: 1.5rem;
    color: #000;
    transition: color 0.2s;
    display: none;
    z-index: 2;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#togglePassword:hover svg {
    stroke: #c90606;
}

#eyeIcon {
    pointer-events: none;

}

/* RESPONSIVE */
@media (max-width: 768px) {
    .blob_1, .blob_2, .iPaul {
        display: none;
    }
   
    .login-card {
        padding: 40px 25px;
    }

    .logo-placeholder {
        width: 90px;
        height: 90px;
        margin-top: -65px;
    }

    .company-name {
        font-size: 2.2rem;
    }
}